@font-face {
font-family: "Effra";
src: url("./assets/fonts/Effra.woff2") format("woff2"),
      url("./assets/fonts/Effra.woff") format("woff"),
      url("./assets/fonts/Effra.ttf") format("truetype");
font-weight: normal;
}

@font-face {
  font-family: "Effra";
  src: url("./assets/fonts/Effra-Bold.woff2") format("woff2"),
        url("./assets/fonts/Effra-Bold.woff") format("woff"),
        url("./assets/fonts/Effra-Bold.ttf") format("truetype");
  font-weight: bold;
 }

.container {
  max-width: 375px;
  width: 100%;
  margin: auto;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}